@font-face {
    font-family: 'Noto Serif';
    src: url("../fonts/NotoSerif-Black.ttf");
    font-weight: 900;
}
@font-face {
    font-family: 'Noto Serif';
    src: url("../fonts/NotoSerif-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: 'Noto Serif';
    src: url("../fonts/NotoSerif-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: 'Noto Serif';
    src: url("../fonts/NotoSerif-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: 'Noto Serif';
    src: url("../fonts/NotoSerif-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Noto Serif';
    src: url("../fonts/NotoSerif-Light.ttf");
    font-weight: 300;
}